@font-face {
	font-family: 'Cotham Sans';
	src: url('/fonts/CothamSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Outward Block';
	src: url('/fonts/outward-block-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply leading-[normal] m-0;
}
*,
::before,
::after {
	border-width: 0;
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
	--font-cotham: 'Cotham Sans', sans-serif;
	--font-cooper: 'Cooper Hewitt', sans-serif;
}

[data-theme='light'] {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 237, 237, 237;
	--background-end-rgb: 189, 189, 189;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	overflow-x: hidden;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 90%; /* Scale fonts down */
	}
}

.aspect-square {
	position: relative;
	width: 100%;
}

.aspect-square > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

::placeholder {
	color: #333;
	opacity: 1;
}

textarea::placeholder {
	color: #333;
	opacity: 1;
}

textarea.text-center::placeholder {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 100%;
}

.outline {
	outline: 3px solid rgba(255, 255, 255, 0.15);
}
.header {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

@keyframes animate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
