@font-face {
	font-family: 'Vipnagorgialla';
	src: url('/fonts/Vipnagorgialla_Rg.otf') format('opentype');
	font-weight: regular;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply leading-[normal] m-0;
}
*,
::before,
::after {
	border-width: 0;
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

[data-theme='light'] {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 237, 237, 237;
	--background-end-rgb: 189, 189, 189;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.aspect-square {
	position: relative;
	width: 100%;
}

.aspect-square > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

::placeholder {
	color: #333;
	opacity: 1;
}

textarea::placeholder {
	color: #333;
	opacity: 1;
}

textarea.text-center::placeholder {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 100%;
}

.custom-font {
	font-family: 'Vipnagorgialla';
}

.outline {
	outline: 5px solid rgba(166, 239, 242, 0.1);
}
.header {
	writing-mode: vertical-lr;
	text-orientation: upright;
}
