@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Array:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@font-face {
	font-family: 'Array';
	src: url('/Array-Regular.otf');
	font-weight: 400;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply leading-[normal] m-0;
}
*,
::before,
::after {
	border-width: 0;
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

[data-theme='light'] {
	--foreground-rgb: 53, 12, 53;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/* .layer {
	background-image: 'url(/assets/home/Rectangle5.png)';
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 1;
} */

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	/* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); */
	z-index: 100;
}
.grain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-image: url('https://i.picsum.photos/id/100/2500/1656.jpg?hmac=gWyN-7ZB32rkAjMhKXQgdHOIBRHyTSgzuOK6U0vXb1w');
	background-position: center;
}

.grain:after {
	content: '';
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png');
	height: 300%;
	width: 300%;
	position: fixed;
	opacity: 0.1;
	animation: animateGrain 17s steps(10) infinite;
}

@keyframes animateGrain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, -20%);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, -20%);
	}

	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, -20%);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, -20%);
	}
	90% {
		transform: translate(-5%, -10%);
	}
	100% {
		transform: translate(-15%, -20%);
	}
}

.aspect-square {
	position: relative;
	width: 100%;
}

.aspect-square > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

::placeholder {
	color: #333;
	opacity: 1;
}

textarea::placeholder {
	color: #333;
	opacity: 1;
}

textarea.text-center::placeholder {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 100%;
}
