@font-face {
	font-family: 'Vipnagorgialla';
	src: url('/fonts/Vipnagorgialla_Rg.otf') format('opentype');
	font-weight: regular;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply leading-[normal] m-0;
}
*,
::before,
::after {
	border-width: 0;
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

[data-theme='light'] {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 237, 237, 237;
	--background-end-rgb: 189, 189, 189;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.aspect-square {
	position: relative;
	width: 100%;
}

.aspect-square > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

::placeholder {
	color: #333;
	opacity: 1;
}

textarea::placeholder {
	color: #333;
	opacity: 1;
}

textarea.text-center::placeholder {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 100%;
}

.custom-font {
	font-family: 'Vipnagorgialla';
}

.outline {
	outline: 3px solid rgba(255, 255, 255, 0.15);
}
.header {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

.neon {
	animation: animate 30s linear infinite;
	text-shadow: 0 0 0.125em #298238, 0 0 0.45em #f66b02;
}

.button-neon {
	box-shadow: inset 0 0 1.5em 0 #702459, 0 0 1.5em 0 #702459;
}

.shadow_one {
	/* text-shadow: 0 0 1px #b47def, 0 0 3px #b47def, 0 0 7px #b47def,
		0 0 3px #b47def, 0 0 3px #b47def, 0 0 10px #b47def, 0 0 10px #b47def,
		0 0 20px #b47def; */
	background-color: #b47def;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: #b47def 0px 3px 3px;
}

.shadow_two {
	background-color: #ffffff;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: #ffffff 0px 3px 3px;
}

.text_shadow {
	background-color: #d55b0f;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(216, 92, 21, 0.821) 0px 3px 3px;
}

@keyframes animate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
