.loader {
	content: counter(count) '%';
	animation: counter 3s linear infinite alternate;
	counter-reset: count 0;
}

@keyframes counter {
	0% {
		counter-increment: count 5;
	}
	10% {
		counter-increment: count 10;
	}
	20% {
		counter-increment: count 20;
	}
	30% {
		counter-increment: count 30;
	}
	40% {
		counter-increment: count 40;
	}
	50% {
		counter-increment: count 50;
	}
	60% {
		counter-increment: count 60;
	}
	70% {
		counter-increment: count 70;
	}
	80% {
		counter-increment: count 80;
	}
	90% {
		counter-increment: count 90;
	}
	100% {
		counter-increment: count 100;
	}
}
