.container {
	background: linear-gradient(-45deg, #fff, #e5e5e5, #aeaeae);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	animation-delay: 1s;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes border-animate {
	0% {
		border-color: transparent;
		border-width: 2px;
	}
	100% {
		border-color: rgb(255, 255, 255);
		border-width: 8px;
	}
}

.animate-border::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: border-animate 2s linear;
}
